Repository pez-globo/pufferfish-software, pull requests merged in 2020-11, with the labels that each got.

#228 Ensure that valves are closed at initialization
  backend/ventserver/application.py
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ParametersService.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/mcu_pb.c
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Controller.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ParametersService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
Labels: domain: backend, domain: firmware, stage: dev, state: approved, type: fix

#225 Fix bug where the error integral was always set to max value
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Algorithms.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Algorithms.cpp
Labels: domain: firmware, stage: dev, state: approved, type: fix

#226 Read conversion factors from SFM3019
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SDP.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3000.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3019/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3019/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3019/Types.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SensirionDevice.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SensirionDevice.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SensirionSensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Bytes.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Bytes.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Endian.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Parse.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SDP.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3000.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SensirionDevice.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SensirionSensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
Labels: domain: firmware, stage: dev, type: fix

#234 Fix incorrect toolchain path example in README.md
  firmware/ventilator-controller-stm32/README.md
Labels: domain: firmware, stage: dev, type: docs

#167 Backend sender for List Synchronization
  backend/pyproject.toml
  backend/tests/unit/protocols/application/test_lists.py
  backend/tests/unit/protocols/test_messages.py
  backend/ventserver/integration/_trio.py
  backend/ventserver/protocols/application/lists.py
  backend/ventserver/protocols/application/states.py
  backend/ventserver/protocols/backend.py
  backend/ventserver/protocols/mcu.py
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/mcu_pb.c
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/backend.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/mcu_pb.proto
Labels: domain: backend, stage: dev, type: feature

#227 New Designs - Dashboard & Sidebar
  frontend/src/modules/app/Sidebar.tsx
  frontend/src/modules/app/SidebarClickable.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView2.tsx
  frontend/src/modules/navigation/Navigation.tsx
  frontend/src/modules/navigation/Routes.tsx
  frontend/src/modules/navigation/constants.ts
Labels: domain: frontend, stage: dev, type: fix

#237 Set HFNC fiO2 & flow rate
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/info/FiO2Info.tsx
  frontend/src/modules/info/FlowInfo.tsx
Labels: domain: frontend, stage: dev, type: fix

#239 Display "-0" as "0" in frontend
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/displays/ValueDisplay.tsx
Labels: domain: frontend, stage: dev, type: fix

#241 Refactor the frontend communication protocol implementation
  backend/ventserver/integration/_trio.py
  frontend/.eslintrc.js
  frontend/src/spec/step-definitions/alarm-modal.steps.tsx
  frontend/src/spec/step-definitions/saga.steps.tsx
  frontend/src/store/controller/io/clock.ts
  frontend/src/store/controller/io/websocket.ts
  frontend/src/store/controller/protocols/backend.ts
  frontend/src/store/controller/protocols/messages.ts
  frontend/src/store/controller/protocols/states.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/components.ts
  frontend/src/store/controller/saga.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
Labels: domain: frontend, stage: dev, type: fix

#240 Refactor CRC interfaces and implementations
  .github/workflows/firmware.yml
  firmware/ventilator-controller-stm32/CMakeLists.txt
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SDP.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3000.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3019/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SensirionDevice.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SensirionDevice.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/UART.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/CRC.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/CRCChecker.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/CRCChecker.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/HAL.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Interfaces/CRCChecker.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Mock/MockBufferedUART.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Mock/MockBufferedUART.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/STM32/CRC.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/STM32/HAL.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/STM32/HALCRCChecker.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/CRCElements.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/CRCElements.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Datagrams.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Array.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SDP.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3000.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SensirionDevice.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/CRC.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/STM32/HALCRCChecker.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/STM32/HALI2CDevice.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/STM32/HALSPIDevice.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestFrameBuffer.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestFrameReceiver.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestNoninOEM3.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestPacketReceiver.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/HAL/CRCChecker.cpp
  firmware/ventilator-controller-stm32/clang-tidy-all.sh
Labels: domain: firmware, stage: dev, type: fix

#242 Screen lock alert & minor fixes
  frontend/package.json
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/Service.tsx
  frontend/src/modules/app/Sidebar.tsx
  frontend/src/modules/app/SidebarClickable.tsx
  frontend/src/modules/app/layouts/OverlayScreen.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/layouts/SidebarRoute.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/navigation/Navigation.tsx
  frontend/src/modules/screensaver/ControlJumbotron.tsx
  frontend/src/modules/screensaver/ValueJumbotron.tsx
  frontend/yarn.lock
Labels: domain: frontend, stage: dev, type: fix

#213 Improvements to the plotting axes
  frontend/src/modules/dashboard/components/Axes.tsx
  frontend/src/modules/dashboard/components/Waveform.tsx
  frontend/src/modules/dashboard/containers/FlowGraphInfo.tsx
  frontend/src/modules/dashboard/containers/PVLoopGraphInfo.tsx
  frontend/src/modules/dashboard/containers/PawGraphInfo.tsx
  frontend/src/modules/dashboard/containers/VolumeGraphInfo.tsx
  frontend/src/store/app/selectors.ts
  frontend/src/store/controller/reducers/derived.ts
  frontend/src/store/controller/types.ts
Labels: domain: frontend, stage: dev, type: fix

#236 Frontend is killed when the modal is operated or frontend is idle.
  backend/ventserver/protocols/server.py
Labels: domain: backend, stage: dev, type: fix

#247 Trigger repo-wide checks when needed
  .github/workflows/backend.yml
  .github/workflows/firmware.yml
  .github/workflows/frontend.yml
Labels: domain: repo, stage: dev, type: testing

#248 Fix remaining unused vars errors in the frontend
  .github/workflows/frontend.yml
  frontend/src/modules/dashboard/components/Axes.tsx
  frontend/src/modules/dashboard/containers/WaveformInfo.tsx
Labels: domain: frontend, stage: dev, type: fix

#250 Re-rendering Optimization
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView.tsx
  frontend/src/modules/displays/ValueSelectorDisplay.tsx
  frontend/src/modules/screensaver/ControlJumbotron.tsx
  frontend/src/modules/screensaver/ScreensaverPage.tsx
  frontend/src/modules/screensaver/ValueJumbotron.tsx
  frontend/src/store/controller/selectors.ts
Labels: domain: frontend, stage: dev, state: approved, type: fix
