Repository pez-globo/pufferfish-software, pull requests merged in 2020-10, with the labels that each got.

#172 Feature/frontend event alerts
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/mcu_pb.proto
Labels: domain: frontend, stage: dev, type: feature

#185 Flow sensors for both air and O2
  backend/ventserver/application.py
  backend/ventserver/io/rotaryencoder.py
  backend/ventserver/io/trio/rotaryencoder.py
  backend/ventserver/simulation.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ControlLoop.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Controller.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ParametersService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Simulator.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3019/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Indicators/DigitalFunction.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Indicators/PulseGenerator.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Initializable.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Statuses.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ControlLoop.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Controller.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ParametersService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Indicators/PulseGenerator.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Indicators/PulseGenerator.cpp
  firmware/ventilator-controller-stm32/ventilator-controller-stm32.ioc
Labels: domain: firmware, stage: dev, type: feature

#186 Fix pylint check issues introduced in #165
  backend/ventserver/io/rotaryencoder.py
  backend/ventserver/io/trio/rotaryencoder.py
  backend/ventserver/simulation.py
Labels: domain: backend, stage: dev, type: bug

#169 live usb boot
  deploy/configs/bootconf.txt
  deploy/scripts/live_usb.sh
Labels: domain: deployment, stage: dev, state: approved, type: feature, work: complex

#179 save logs to usb
  deploy/configs/clean_kiosk.sh
  deploy/configs/kiosk.service
  deploy/configs/media-pi-LOGS.mount
  deploy/configs/pufferfish_backend.service
  deploy/configs/pufferfish_logger
  deploy/configs/rsyslog.conf
  deploy/configs/screen_config.txt
  deploy/scripts/backend_service.sh
  deploy/scripts/boot_screen.sh
  deploy/scripts/configure_kiosk.sh
  deploy/scripts/disable_services.sh
  deploy/scripts/install_fonts.sh
  deploy/scripts/kiosk.sh
  deploy/scripts/nginx_setup.sh
  deploy/scripts/node.sh
  deploy/scripts/poetry.sh
  deploy/scripts/pyenv.sh
  deploy/scripts/read_only_os.sh
  deploy/scripts/security.sh
  deploy/scripts/setup_watchdog.sh
  deploy/scripts/usb_logging.sh
  deploy/scripts/yarn.sh
Labels: domain: deployment, stage: dev, state: approved, type: feature, work: chaotic

#183 nginx configuration for redirection on 404
  deploy/scripts/nginx_setup.sh
Labels: domain: deployment, stage: dev, state: approved, type: feature, work: obvious

#193 Integrate Nonin OEM III into firmware
  .github/workflows/firmware.yml
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Mock/MockBufferedUART.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/STM32/HALBufferedUART.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Src/stm32h7xx_it.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/TestNoninOEM3.cpp
Labels: domain: firmware, stage: dev, type: fix

#195 Add simulator & controller support for open-loop FiO2 control by valves
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Algorithms.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ControlLoop.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Controller.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ParametersService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Simulator.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Algorithms.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ControlLoop.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Controller.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
Labels: domain: firmware, stage: dev, type: feature

#184 Bug/backend rotary encoder fix
  backend/poetry.lock
  backend/pyproject.toml
  backend/re_samples.pckl
  backend/tests/io/trio/re_pigpio.py
  backend/ventserver/application.py
  backend/ventserver/io/rotaryencoder.py
  backend/ventserver/io/trio/rotaryencoder.py
  backend/ventserver/simulation.py
Labels: domain: backend, type: bug, work: obvious

#190 Frontend reducers refractor
  frontend/.eslintrc.js
  frontend/src/modules/navigation/Routes.tsx
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/backend.ts
  frontend/src/store/controller/reducers/components.ts
  frontend/src/store/controller/reducers/derived.ts
Labels: domain: frontend, stage: dev, type: fix

#188 pigpio setup script
  deploy/configs/pufferfish_backend.service
  deploy/scripts/pigpio.sh
  deploy/setup.sh
Labels: domain: deployment, stage: dev, type: feature

#180 script usage readme
  deploy/README.md
  deploy/deploy.sh
  deploy/install.sh
  deploy/scripts/backend_service.sh
  deploy/scripts/boot_screen.sh
  deploy/scripts/configure_kiosk.sh
  deploy/scripts/disable_services.sh
  deploy/scripts/install_fonts.sh
  deploy/scripts/kiosk.sh
  deploy/scripts/nginx_setup.sh
  deploy/scripts/node.sh
  deploy/scripts/poetry.sh
  deploy/scripts/pyenv.sh
  deploy/scripts/read_only_os.sh
  deploy/scripts/security.sh
  deploy/scripts/setup_watchdog.sh
  deploy/scripts/usb_logging.sh
  deploy/scripts/yarn.sh
  deploy/setup.sh
Labels: domain: deployment, stage: dev, state: approved, type: docs

#52 Add dependencies and config for auto documentation.
  backend/.gitignore
  backend/README.md
  backend/docs/Makefile
  backend/docs/README.md
  backend/docs/source/_build/html/_sources/index.rst.txt
  backend/docs/source/api/modules.rst
  backend/docs/source/api/ventserver.integration.rst
  backend/docs/source/api/ventserver.io.asynchronous.rst
  backend/docs/source/api/ventserver.io.rst
  backend/docs/source/api/ventserver.io.trio.rst
  backend/docs/source/api/ventserver.protocols.application.rst
  backend/docs/source/api/ventserver.protocols.protobuf.rst
  backend/docs/source/api/ventserver.protocols.rst
  backend/docs/source/api/ventserver.rst
  backend/docs/source/api/ventserver.sansio.rst
  backend/docs/source/api/ventserver.util.rst
  backend/docs/source/conf.py
  backend/docs/source/index.rst
  backend/poetry.lock
  backend/pyproject.toml
  backend/ventserver/io/trio/_serial.py
  backend/ventserver/io/trio/websocket.py
Labels: domain: backend, stage: dev, state: approved, type: docs

#200 TypeError checks for libraries that don't support type annotations.
  backend/ventserver/integration/_trio.py
  backend/ventserver/io/trio/_serial.py
  backend/ventserver/io/trio/websocket.py
  backend/ventserver/protocols/frames.py
Labels: domain: backend, stage: dev, state: approved, type: fix

#198 Frontend routing fixes & battery power value
  frontend/src/modules/app/Sidebar.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/navigation/Navigation.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/components.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/mcu_pb.proto
Labels: domain: frontend, stage: dev, type: fix

#205 Implement driver for FDO2 sensor
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ControlLoop.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Controller.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Simulator.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Frames.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Frames.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/FDO2/Commands.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/FDO2/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/FDO2/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Chunks.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Chunks.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Vector.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Vector.tpp
  firmware/ventilator-controller-stm32/Core/Inc/main.h
  firmware/ventilator-controller-stm32/Core/Inc/stm32h7xx_it.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ControlLoop.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/FDO2/Commands.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/FDO2/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/FDO2/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Src/stm32h7xx_hal_msp.c
  firmware/ventilator-controller-stm32/Core/Src/stm32h7xx_it.cpp
  firmware/ventilator-controller-stm32/Drivers/CMSIS/Device/ST/STM32H7xx/Source/Templates/system_stm32h7xx.c
  firmware/ventilator-controller-stm32/ventilator-controller-stm32.ioc
Labels: domain: firmware, stage: dev, type: feature

#196 read only fs
  deploy/README.md
  deploy/configs/bash_logout.txt
  deploy/configs/bashrc_config.txt
  deploy/configs/overctl
  deploy/configs/overlay
  deploy/scripts/disable_services.sh
  deploy/scripts/overlayfs.sh
  deploy/scripts/read_only_os.sh
Labels: domain: deployment, stage: dev, type: fix, work: complicated

#207 install.sh syntax error fix
  deploy/install.sh
Labels: domain: deployment, stage: dev, type: fix

#189 Frontend testing framework
  .github/workflows/frontend.yml
  frontend/.eslintrc.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/spec/features/alarm-modal.feature
  frontend/src/spec/features/saga.feature
  frontend/src/spec/setupTests.ts
  frontend/src/spec/step-definitions/alarm-modal.steps.tsx
  frontend/src/spec/step-definitions/saga.steps.tsx
  frontend/src/store/controller/saga.ts
  frontend/yarn.lock
Labels: domain: frontend, stage: dev, type: testing

#203 Screen inactive timeout
  frontend/src/modules/app/Layout.tsx
  frontend/src/modules/app/UserActivity.tsx
  frontend/src/modules/dashboard/components/Loop.tsx
  frontend/src/modules/dashboard/components/Waveform.tsx
Labels: domain: frontend, stage: dev, type: feature

#166 File I/O system.
  backend/.gitignore
  backend/poetry.lock
  backend/tests/integration/trio/application.py
  backend/tests/integration/trio/io.py
  backend/tests/integration/trio/mocks.py
  backend/tests/unit/io/trio/fileio_tests/Alarms.pb
  backend/tests/unit/io/trio/fileio_tests/Alarms_bad_crc.pb
  backend/tests/unit/io/trio/fileio_tests/CycleMeasurements.pb
  backend/tests/unit/io/trio/fileio_tests/CycleMeasurements_bad_crc.pb
  backend/tests/unit/io/trio/fileio_tests/Parameters.pb
  backend/tests/unit/io/trio/fileio_tests/ParametersRequest.pb
  backend/tests/unit/io/trio/fileio_tests/ParametersRequest_bad_crc.pb
  backend/tests/unit/io/trio/fileio_tests/Parameters_bad_crc.pb
  backend/tests/unit/io/trio/fileio_tests/Parameters_bad_data.pb
  backend/tests/unit/io/trio/fileio_tests/SensorMeasurements.pb
  backend/tests/unit/io/trio/fileio_tests/fileio_read_new.pb
  backend/tests/unit/io/trio/fileio_tests/fileio_read_repeated.pb
  backend/tests/unit/io/trio/fileio_tests/fileio_write_read_ow.pb
  backend/tests/unit/io/trio/test_fileio.py
  backend/tests/unit/protocols/test_file.py
  backend/ventserver/application.py
  backend/ventserver/integration/_trio.py
  backend/ventserver/io/fileobject.py
  backend/ventserver/io/trio/fileio.py
  backend/ventserver/protocols/backend.py
  backend/ventserver/protocols/file.py
  backend/ventserver/protocols/server.py
  backend/ventserver/simulation.py
Labels: domain: backend, stage: dev, state: approved, type: feature, work: complicated

#209 running pigpio as system service
  deploy/configs/pufferfish_backend.service
  deploy/deploy.sh
  deploy/install.sh
  deploy/scripts/pigpio.sh
Labels: domain: deployment, stage: dev, state: approved, type: fix, work: obvious

#212 Fix new issue with typescript versioning
  frontend/package.json
  frontend/src/modules/dashboard/components/Loop.tsx
  frontend/src/modules/dashboard/components/Waveform.tsx
  frontend/yarn.lock
Labels: domain: frontend, stage: dev, type: fix

#210 Split up backend checks into separate jobs
  .github/workflows/backend.yml
  backend/README.md
  backend/tox.ini
Labels: domain: repo, stage: dev, state: approved, type: testing

#214 Fix setup indicator LED to account for blocking I/O in setup functions
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/FDO2/Sensor.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/FDO2/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
Labels: domain: firmware, stage: dev, type: fix

#211 Restrict scroll, Screen locking & bug fixes
  frontend/src/index.css
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/Layout.tsx
  frontend/src/modules/app/Sidebar.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/Knob.tsx
  frontend/src/modules/controllers/TabPanel.tsx
  frontend/src/modules/controllers/TestTool.tsx
  frontend/src/modules/controllers/ValueClicker.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView.tsx
  frontend/src/modules/displays/ModeBanner.tsx
  frontend/src/modules/displays/ValueDisplay.tsx
  frontend/src/modules/modes/ModesPage.tsx
  frontend/src/modules/navigation/Navigation.tsx
  frontend/src/modules/navigation/constants.ts
  frontend/src/modules/quickstart/QuickStartPage.tsx
  frontend/src/modules/settings/SettingsPage.tsx
  frontend/src/modules/settings/containers/DisplayTab.tsx
  frontend/src/modules/settings/containers/TestCalibrationTab.tsx
  frontend/src/modules/values/ValuesPage.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/mcu_pb.proto
Labels: domain: frontend, stage: dev, type: fix

#217 Avoid setup code in SFM3019::Sensor::output when setup was skipped
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
Labels: domain: firmware, stage: dev, type: fix

#202 Fixed README for backend.
  backend/.pylintrc
  backend/README.md
  backend/ventserver/application.py
  backend/ventserver/io/trio/rotaryencoder.py
  backend/ventserver/simulation.py
Labels: domain: backend, type: docs, work: obvious

#218 Fix/backend file I/O directory
  backend/ventserver/application.py
  backend/ventserver/integration/_trio.py
  backend/ventserver/io/trio/fileio.py
Labels: domain: backend, stage: dev, type: bug, work: obvious

#220 Refactor FDO2 Sensor for longer setup (up to 5 sec) & non-blocking I/O
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/FDO2/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/FDO2/Sensor.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/FDO2/Sensor.cpp
Labels: domain: firmware, stage: dev, type: fix

#219 Landing page
  frontend/public/home.png
  frontend/src/modules/app/App.tsx
  frontend/src/modules/app/UserActivity.tsx
  frontend/src/modules/app/layouts/NoLayoutRoute.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/layouts/SidebarRoute.tsx
  frontend/src/modules/dashboard/components/Axes.tsx
  frontend/src/modules/displays/ValueDisplay.tsx
  frontend/src/modules/landing-page/LandingPage.tsx
  frontend/src/modules/navigation/Routes.tsx
Labels: domain: frontend, stage: dev, state: approved, type: feature, type: fix

#215 detect data tampering
  deploy/README.md
  deploy/configs/compare_hash.sh
  deploy/configs/hash_check.py
  deploy/configs/kiosk.service
  deploy/configs/media-pi-LOGS.mount
  deploy/configs/pufferfish.target
  deploy/configs/pufferfish_backend.service
  deploy/configs/tampering.service
  deploy/deploy.sh
  deploy/install.sh
  deploy/scripts/backend_service.sh
  deploy/scripts/kiosk.sh
  deploy/scripts/poetry.sh
  deploy/scripts/security_network.sh
  deploy/scripts/security_tampering.sh
  deploy/scripts/security_user.sh
Labels: domain: deployment, stage: dev, type: feature, work: chaotic

#222 apt install error handling
  deploy/deploy.sh
  deploy/install.sh
  deploy/scripts/backend_service.sh
  deploy/scripts/boot_screen.sh
  deploy/scripts/configure_kiosk.sh
  deploy/scripts/disable_services.sh
  deploy/scripts/helper.sh
  deploy/scripts/install_fonts.sh
  deploy/scripts/kiosk.sh
  deploy/scripts/live_usb.sh
  deploy/scripts/nginx_setup.sh
  deploy/scripts/node.sh
  deploy/scripts/overlayfs.sh
  deploy/scripts/pigpio.sh
  deploy/scripts/poetry.sh
  deploy/scripts/pyenv.sh
  deploy/scripts/security_network.sh
  deploy/scripts/security_tampering.sh
  deploy/scripts/security_user.sh
  deploy/scripts/setup_watchdog.sh
  deploy/scripts/usb_logging.sh
  deploy/scripts/yarn.sh
Labels: domain: deployment, stage: dev, state: approved, type: fix, work: complicated

#204 Test/backend test guidelines
  backend/tests/bdd_samples/test_crcelements_bdd_style.py
Labels: state: approved, type: docs, type: testing, work: obvious

#201 Prototype frontend kill.
  backend/ventserver/application.py
  backend/ventserver/integration/_trio.py
  backend/ventserver/io/_serial.py
  backend/ventserver/io/subprocess/__init__.py
  backend/ventserver/io/subprocess/frozen_frontend.py
  backend/ventserver/io/trio/websocket.py
  backend/ventserver/protocols/backend.py
  backend/ventserver/protocols/server.py
  backend/ventserver/simulation.py
Labels: domain: backend, stage: dev, state: approved, type: feature, work: complicated
