Repository pez-globo/pufferfish-software, pull requests merged in 2020-12, with the labels that each got.

#251 Optimized constantly re-rendered components
  frontend/src/modules/app/Sidebar.tsx
  frontend/src/modules/app/SidebarClickable.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/layouts/SidebarRoute.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ConfirmationModal.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView2.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/navigation/Routes.tsx
  frontend/src/modules/quickstart/QuickStartPage.tsx
  frontend/src/modules/screensaver/ScreensaverPage.tsx
  frontend/src/modules/settings/containers/DisplayTab.tsx
  frontend/src/store/controller/selectors.ts
Labels: domain: frontend, stage: dev, state: approved, type: fix

#259 Backend Connection lost - Audio Alarm in Frontend
  frontend/public/alarm.mp3
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/layouts/SidebarRoute.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/backend.ts
  frontend/src/store/controller/reducers/components.ts
  frontend/src/store/controller/reducers/derived.ts
  frontend/src/store/controller/saga.ts
  frontend/src/store/controller/types.ts
Labels: domain: frontend, stage: dev, state: approved, type: feature

#265 Fix Path mismatch
  frontend/src/modules/app/layouts/LandingPageRoute.tsx
Labels: domain: frontend, stage: dev, type: fix

#266 Implement alarms in backend simulator
  backend/tests/integration/test_frontend.py
  backend/tests/integration/test_mcu.py
  backend/tests/unit/protocols/test_file.py
  backend/tests/unit/protocols/test_messages.py
  backend/ventserver/protocols/backend.py
  backend/ventserver/protocols/mcu.py
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation.py
  backend/ventserver/simulation/__init__.py
  backend/ventserver/simulation/alarm_limits.py
  backend/ventserver/simulation/alarms.py
  backend/ventserver/simulation/parameters.py
  backend/ventserver/simulation/simulators.py
  backend/ventserver/simulator.py
  deploy/scripts/helper.sh
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/States.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/mcu_pb.c
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/components.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  frontend/tests/step-definitions/alarm-modal.steps.tsx
  proto/mcu_pb.proto
Labels: domain: backend, domain: firmware, domain: frontend, stage: dev, type: feature

#270 Add measurement smoothing and debouncing with timeout hysteresis
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/derived.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
Labels: domain: frontend, stage: dev, type: fix
