Repository pez-globo/pufferfish-software, pull requests merged in 2021-05, with the labels that each got.

#337 Play audio in frontend for all active alarms
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/store/controller/selectors.ts
Labels: domain: frontend, stage: dev, state: approved, type: feature

#339 Disable start button in frontend until backend becomes available
  backend/ventserver/protocols/protobuf/mcu_pb.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/mcu_pb.c
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/layouts/LandingPageRoute.tsx
  frontend/src/modules/logs/EventType.tsx
  frontend/src/store/app/actions.ts
  frontend/src/store/app/reducers.ts
  frontend/src/store/app/selectors.ts
  frontend/src/store/app/types.ts
  frontend/src/store/controller/proto/frontend_pb.ts
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers/backend.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/mcu_pb.proto
Labels: domain: frontend, stage: dev, type: feature

#357 Manually resolve dependabot upgrades
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/yarn.lock
Labels: dependencies, domain: frontend, stage: dev, type: chore

#351 Initialize frontend rotary encoder state from the backend
  frontend/src/store/controller/reducers/backend.ts
Labels: domain: frontend, stage: dev, type: fix

#338 frontend: Improve set alarms screen
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ModalPopup.tsx
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/dashboard/containers/LargeValueInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/displays/Carousel.tsx
  frontend/src/modules/displays/MultiStepWizard.tsx
  frontend/src/modules/info/FiO2Info.tsx
  frontend/src/modules/info/FlowInfo.tsx
  frontend/src/modules/info/PEEPInfo.tsx
  frontend/src/modules/info/PIPInfo.tsx
  frontend/src/modules/info/RRInfo.tsx
  frontend/src/modules/quickstart/QuickStartPage.tsx
  frontend/src/store/controller/actions.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
Labels: domain: frontend, stage: dev, state: approved, type: fix

#352 Don't log ParametersRequest & AlarmLimitsRequest initialization in firmware
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmLimitsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ParametersService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/UART.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmLimitsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ParametersService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/States.cpp
Labels: domain: firmware, stage: dev, type: fix

#358 Add CodeQL security analysis
  .github/workflows/backend.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/firmware.yml
  .github/workflows/frontend.yml
Labels: domain: repo, stage: dev, type: testing

#362 frontend: show unsaved changes to alarm limits in HFNC control
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/displays/MultiStepWizard.tsx
Labels: domain: frontend, stage: dev, state: approved, type: fix

#348 Add Alarm muting functionality in firmware and backend/simulator
  backend/ventserver/simulation/alarm_mute.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmMuteService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmMuteService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/store/controller/protocols/backend.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
Labels: domain: backend, domain: firmware, stage: dev, type: fix

#368 Move signal smoothing into the firmware
  backend/ventserver/protocols/protobuf/mcu_pb.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/SignalSmoothing.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/SignalSmoothing.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Simulator.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/SignalSmoothing.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ControlLoop.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/SignalSmoothing.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Messages.cpp
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/derived.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/mcu_pb.proto
Labels: domain: firmware, stage: dev, type: fix
