Repository pez-globo/pufferfish-software, pull requests merged in 2021-07, with the labels that each got.

#403 Implement Event Synchronization protocol in backend for early delivery of changed states
  backend/ventserver/protocols/application/events.py
  backend/ventserver/protocols/application/states.py
  backend/ventserver/protocols/backend/states.py
  frontend/src/store/controller/saga.ts
Labels: domain: backend, stage: dev, type: feature

#406 Implement Event Synchronization protocol in firmware for early delivery of changed states
  backend/ventserver/protocols/application/events.py
  backend/ventserver/protocols/application/states.py
  backend/ventserver/protocols/backend/states.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Application/Events.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Application/Events.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Application/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/EnumMap.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/EnumMap.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/EnumSet.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/EnumSet.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/OrderedMap.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/Set.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/TaggedUnion.h
  firmware/ventilator-controller-stm32/Core/Inc/boost/LICENSE_1_0.txt
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/core.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/cast_to_layout_compatible.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/config.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/core.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/core14_classic.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/core14_loophole.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/core17.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/core17_generated.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/detectors.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/fields_count.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/for_each_field_impl.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/functional.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/io.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/make_flat_tuple_of_references.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/make_integer_sequence.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/offset_based_getter.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/rvalue_t.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/sequence_tuple.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/size_array.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/size_t_.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/stdtuple.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/tie_from_structure_tuple.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/detail/unsafe_declval.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/functions_for.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/functors.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/io.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/io_fields.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/ops.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/ops_fields.hpp
  firmware/ventilator-controller-stm32/Core/Inc/boost/pfr/tuple_size.hpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Application/states.txt
  proto/mcu_pb.proto
Labels: domain: firmware, stage: dev, type: feature

#407 Fix Dashboard spurious redraws
  frontend/src/modules/dashboard/components/ControlInfo.tsx
  frontend/src/modules/dashboard/components/ValueInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/dashboard/views/HFNCGraphView.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView.tsx
  frontend/src/modules/displays/MultiStepWizard.tsx
  frontend/src/store/controller/selectors.ts
Labels: domain: frontend, stage: dev, state: approved, type: fix

#408 Make Toolbar components more compact
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/displays/ModeBanner.tsx
  frontend/src/modules/logs/constants.ts
  frontend/src/modules/modes/ModesDropdown.tsx
Labels: domain: frontend, stage: dev, type: fix

#416 Wrap protobuf struct declarations in Pufferfish::Application namespace
  backend/ventserver/protocols/protobuf/mcu_pb.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/Alarms.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmLimitsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmMuteService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Alarms.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Controller.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ParametersService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/SensorAlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/SignalSmoothing.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Simulator.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/LTC4015/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Power/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Power/Simulator.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Transport.h
  firmware/ventilator-controller-stm32/Core/Inc/nanopb/pb.h
  firmware/ventilator-controller-stm32/Core/Inc/nanopb/pb_common.h
  firmware/ventilator-controller-stm32/Core/Inc/nanopb/pb_decode.h
  firmware/ventilator-controller-stm32/Core/Inc/nanopb/pb_encode.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmLimitsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ControlLoop.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Controller.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ParametersService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/SensorAlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Power/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Backend/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Src/nanopb/pb_common.c
  firmware/ventilator-controller-stm32/Core/Src/nanopb/pb_decode.c
  firmware/ventilator-controller-stm32/Core/Src/nanopb/pb_encode.c
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Transport/Messages.cpp
  frontend/src/store/controller/proto/mcu_pb.ts
  proto/generate_mcu.sh
Labels: domain: firmware, stage: dev, type: fix

#412 Fix width of alert button in the toolbar and dispatch of establishedBackendConnection
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/store/app/actions.ts
  frontend/src/store/app/reducers.ts
  frontend/src/store/app/types.ts
Labels: domain: frontend, stage: dev, type: fix

#410 Implement Event Synchronization protocol in frontend for early delivery of changed states
  backend/ventserver/protocols/application/events.py
  backend/ventserver/protocols/backend/states.py
  backend/ventserver/protocols/transport/messages.py
  frontend/.eslintrc.js
  frontend/src/store/app/actions.ts
  frontend/src/store/app/reducers.ts
  frontend/src/store/app/selectors.ts
  frontend/src/store/app/types.ts
  frontend/src/store/controller/protocols/application/events.ts
  frontend/src/store/controller/protocols/application/states.ts
  frontend/src/store/controller/protocols/backend/backend.ts
  frontend/src/store/controller/protocols/backend/states.ts
  frontend/src/store/controller/protocols/backend/transport.ts
  frontend/src/store/controller/protocols/sagas.ts
  frontend/src/store/controller/saga.ts
  frontend/tsconfig.json
  proto/frontend_pb.proto
  proto/mcu_pb.proto
Labels: domain: frontend, stage: dev, type: feature

#366 Unit Tests for Util
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Bytes.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/OrderedMap.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/Vector.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Ranges.h
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Bytes.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Bytes.txt
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Containers/Array.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Containers/Array.txt
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Containers/Vector.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Containers/vector.txt
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Endian.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Endian.txt
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Ranges.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Ranges.txt
Labels: domain: firmware, stage: dev, state: approved, type: testing

#418 Move PWM's `set_duty_cycle_raw` from `public` to `protected`
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Interfaces/PWM.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Mock/PWM.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/STM32/PWM.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/Mock/PWM.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/STM32/PWM.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
Labels: domain: firmware, stage: dev, type: fix

#413 Refactor frontend modules/display and screensaver
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/index.ts
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ToggleValue.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/controllers/ValueSpinner.tsx
  frontend/src/modules/controllers/index.ts
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/components/ValueInfo.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/displays/ModeBanner.tsx
  frontend/src/modules/displays/ValueDisplay.tsx
  frontend/src/modules/displays/index.ts
  frontend/src/modules/index.ts
  frontend/src/modules/info/EtCO2Info.tsx
  frontend/src/modules/info/FiO2Info.tsx
  frontend/src/modules/info/FlowInfo.tsx
  frontend/src/modules/info/IERatioInfo.tsx
  frontend/src/modules/info/IPAbovePEEPInfo.tsx
  frontend/src/modules/info/InspTimeInfo.tsx
  frontend/src/modules/info/MVeInfo.tsx
  frontend/src/modules/info/PEEPInfo.tsx
  frontend/src/modules/info/PIPInfo.tsx
  frontend/src/modules/info/PawInfo.tsx
  frontend/src/modules/info/PplatInfo.tsx
  frontend/src/modules/info/ROXIndexInfo.tsx
  frontend/src/modules/info/RRInfo.tsx
  frontend/src/modules/info/SpO2Info.tsx
  frontend/src/modules/info/TVInfo.tsx
  frontend/src/modules/info/index.ts
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/modals/DiscardAlarmLimitsContent.tsx
  frontend/src/modules/modals/EventAlerts.tsx
  frontend/src/modules/modals/ModalPopup.tsx
  frontend/src/modules/modals/MultiStepWizard.tsx
  frontend/src/modules/modals/index.ts
  frontend/src/modules/navigation/Routes.tsx
  frontend/src/modules/quickstart/QuickStartPage.tsx
  frontend/src/modules/screensaver/ScreensaverPage.tsx
  frontend/src/modules/settings/containers/DisplayTab.tsx
  frontend/src/modules/values/ValuesPage.tsx
  frontend/src/store/controller/selectors.ts
Labels: domain: frontend, stage: dev, state: approved, type: fix

#428 Reimplement alarm muting
  backend/ventserver/application.py
  backend/ventserver/protocols/backend/backend.py
  backend/ventserver/protocols/backend/server.py
  backend/ventserver/protocols/backend/states.py
  backend/ventserver/protocols/devices/frontend.py
  backend/ventserver/protocols/devices/mcu.py
  backend/ventserver/protocols/protobuf/frontend_pb.py
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation/alarm_mute.py
  backend/ventserver/simulation/power_management.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/AlarmMuteService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmMuteService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Transport.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/AlarmMuteService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/mcu_pb.c
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmMuteService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  frontend/src/modules/alarms/Alarms.tsx
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/alarms/muting/AlarmMuting.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/logs/EventLog.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/logs/constants.ts
  frontend/src/modules/modals/EventAlerts.tsx
  frontend/src/modules/modals/index.ts
  frontend/src/store/connection/reducers.ts
  frontend/src/store/controller/actions.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/backend.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  frontend/src/store/proto/frontend_pb.ts
  frontend/src/store/proto/mcu_pb.ts
  frontend/src/store/proto/types.ts
  proto/frontend_pb.proto
  proto/mcu_pb.proto
Labels: domain: backend, domain: firmware, domain: frontend, stage: dev, type: fix

#431 Remove Modes Dropdown button from LandingPage
  frontend/src/modules/app/ToolBar.tsx
Labels: domain: frontend, stage: dev, type: fix

#414 Refactor frontend modules/controller
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/controllers/index.ts
  frontend/src/modules/dashboard/components/ControlInfo.tsx
  frontend/src/modules/dashboard/components/ValueInfo.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/modals/MultiStepWizard.tsx
  frontend/src/store/controller/selectors.ts
  frontend/tests/features/alarm-modal.feature
  frontend/tests/step-definitions/alarm-modal.steps.tsx
Labels: domain: frontend, stage: dev, type: fix

#421 Refactor public interfaces of some low-level driver code for the Nonin sensor
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/FrameBuffer.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/FrameReceiver.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/PacketReceiver.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/Types.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/FrameBuffer.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/FrameReceiver.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/PacketReceiver.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestFrameBuffer.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestFrameReceiver.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestNoninOEM3.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestPacketReceiver.cpp
Labels: domain: firmware, stage: dev, type: chore

#432 Change event type button style in events log
  frontend/src/modules/logs/LogsPage.tsx
Labels: domain: frontend, stage: dev, state: approved, type: feature
