Repository pez-globo/pufferfish-software, pull requests merged in 2021-09, with the labels that each got.

#434 Improve some of the driver interfaces for the Nonin sensor
  backend/ventserver/protocols/protobuf/mcu_pb.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/FrameBuffer.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/FrameReceiver.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/PacketReceiver.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/SensorAlarmService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Nonin/Types.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/FrameBuffer.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/FrameReceiver.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/PacketReceiver.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Nonin/SensorAlarmService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestFrameBuffer.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestFrameReceiver.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Nonin/TestNoninOEM3.cpp
  frontend/src/modules/logs/constants.ts
  frontend/src/store/proto/mcu_pb.ts
  proto/mcu_pb.proto
Labels: domain: firmware, stage: dev, type: fix

#438 Move files from app/ to feature folders
  frontend/src/modules/alarms/Alarms.tsx
  frontend/src/modules/alarms/limits/AlarmLimitsModalPopup.tsx
  frontend/src/modules/alarms/modal/AlarmModal.tsx
  frontend/src/modules/alarms/modal/DiscardAlarmLimitsContent.tsx
  frontend/src/modules/alarms/modal/index.ts
  frontend/src/modules/app/App.tsx
  frontend/src/modules/app/index.ts
  frontend/src/modules/app/landing-page/LandingPage.tsx
  frontend/src/modules/app/navigation/Navigation.tsx
  frontend/src/modules/app/navigation/Routes.tsx
  frontend/src/modules/app/navigation/constants.ts
  frontend/src/modules/app/navigation/layouts/LandingPageRoute.tsx
  frontend/src/modules/app/navigation/layouts/NoLayoutRoute.tsx
  frontend/src/modules/app/navigation/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/navigation/layouts/SidebarRoute.tsx
  frontend/src/modules/app/navigation/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/app/navigation/layouts/index.ts
  frontend/src/modules/app/quickstart/QuickStartPage.tsx
  frontend/src/modules/app/screensaver/ControlJumbotron.tsx
  frontend/src/modules/app/screensaver/ScreensaverPage.tsx
  frontend/src/modules/app/screensaver/ValueJumbotron.tsx
  frontend/src/modules/app/sidebar/Sidebar.tsx
  frontend/src/modules/app/sidebar/SidebarClickable.tsx
  frontend/src/modules/app/sidebar/index.ts
  frontend/src/modules/app/toolbar/HeaderClock.tsx
  frontend/src/modules/app/toolbar/PowerIndicator.tsx
  frontend/src/modules/app/toolbar/StartPauseButton.tsx
  frontend/src/modules/app/toolbar/ToolBar.tsx
  frontend/src/modules/app/toolbar/index.ts
  frontend/src/modules/controllers/ParamValueSpinner.tsx
  frontend/src/modules/controllers/index.ts
  frontend/src/modules/dashboard/components/ValueInfo.tsx
  frontend/src/modules/index.ts
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/modals/MultiStepWizard.tsx
  frontend/src/modules/modals/index.ts
  frontend/src/modules/navigation/components/StartPauseButton.tsx
  frontend/src/store/connection/actions.ts
  frontend/src/store/connection/types.ts
  frontend/src/store/controller/actions.ts
  frontend/src/store/controller/reducers/backend.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
Labels: domain: frontend, stage: dev, type: chore

#437 Unit Test case for SFM3019 Device
  firmware/ventilator-controller-stm32/CMakeLists.txt
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3019/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3019/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SensirionDevice.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Mock/I2CDevice.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/Mock/I2CDevice.cpp
  firmware/ventilator-controller-stm32/Core/Test/Inc/Pufferfish/Test/Util.tpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/I2C/SFM3019/Device.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/I2C/SFM3019/Device.txt
Labels: domain: firmware, stage: test, type: testing

#442 Reorganize some selectors and reducers
  backend/ventserver/protocols/backend/states.py
  backend/ventserver/protocols/devices/mcu.py
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation/screen_status.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/ScreenLock.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Transport.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/ScreenLock.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/mcu_pb.c
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  frontend/src/modules/alarms/limits/AlarmLimitsModalPopup.tsx
  frontend/src/modules/alarms/limits/AlarmLimitsPage.tsx
  frontend/src/modules/alarms/muting/AlarmMuting.tsx
  frontend/src/modules/app/App.tsx
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/modules/app/UserActivity.tsx
  frontend/src/modules/app/navigation/Routes.tsx
  frontend/src/modules/app/navigation/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/quickstart/QuickStartPage.tsx
  frontend/src/modules/app/screensaver/ScreensaverPage.tsx
  frontend/src/modules/app/sidebar/Sidebar.tsx
  frontend/src/modules/app/sidebar/SidebarClickable.tsx
  frontend/src/modules/app/toolbar/StartPauseButton.tsx
  frontend/src/modules/controllers/RotaryEncodeController.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/dashboard/containers/FlowGraphInfo.tsx
  frontend/src/modules/dashboard/containers/PVLoopGraphInfo.tsx
  frontend/src/modules/dashboard/containers/PawGraphInfo.tsx
  frontend/src/modules/dashboard/containers/VolumeGraphInfo.tsx
  frontend/src/modules/dashboard/containers/WaveformInfo.tsx
  frontend/src/modules/dashboard/views/HFNCGraphView.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView.tsx
  frontend/src/modules/displays/ModeBanner.tsx
  frontend/src/modules/modals/MultiStepWizard.tsx
  frontend/src/modules/modes/ModesDropdown.tsx
  frontend/src/modules/modes/ModesPage.tsx
  frontend/src/modules/settings/SettingsPage.tsx
  frontend/src/modules/settings/containers/DisplayTab.tsx
  frontend/src/store/connection/protocols/backend/backend.ts
  frontend/src/store/connection/protocols/backend/states.ts
  frontend/src/store/connection/protocols/backend/transport.ts
  frontend/src/store/controller/actions.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/selectors/derived_measurements.ts
  frontend/src/store/controller/selectors/frontend_pb.ts
  frontend/src/store/controller/selectors/measurements.ts
  frontend/src/store/controller/types.ts
  frontend/src/store/index.ts
  frontend/src/store/plots/reducers.ts
  frontend/src/store/plots/selectors.ts
  frontend/src/store/proto/mcu_pb.ts
  frontend/src/store/proto/types.ts
  proto/mcu_pb.proto
Labels: domain: frontend, stage: dev, type: chore
