Repository pez-globo/pufferfish-software, pull requests merged in 2021-06, with the labels that each got.

#369 Fix compiler warnings for unit test cases in firmware
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/CRCElements.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Chunks.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Datagrams.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Messages.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/States.cpp
Labels: domain: firmware, state: approved, type: chore, type: testing

#363 Fix frontend handling of rotary encoder changes with ValueClicker
  frontend/src/modules/controllers/RotaryEncodeController.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/store/controller/selectors.ts
Labels: domain: frontend, stage: dev, state: approved, state: pending, type: fix

#376 firmware: Refactor alarms Manager
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/Alarms.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/Alarms.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
Labels: domain: firmware, stage: dev, type: chore

#374 Prevent upper alarm limit from being set below lower limit in the frontend
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ValueClicker.tsx
Labels: domain: frontend, stage: dev, state: approved, type: fix

#377 Initialize backend store from fallbacks when files aren't available
  backend/ventserver/application.py
  backend/ventserver/integration/_trio.py
  backend/ventserver/protocols/backend/server.py
  backend/ventserver/protocols/backend/states.py
  backend/ventserver/protocols/devices/file.py
  backend/ventserver/simulator.py
Labels: domain: backend, stage: dev, type: fix

#327 Implement driver for power management
  backend/ventserver/protocols/backend/states.py
  backend/ventserver/protocols/devices/mcu.py
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation/power_management.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/LTC4015/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/LTC4015/I2CDevice.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/LTC4015/Sensor.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/LTC4015/Types.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Power/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Power/Simulator.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Interfaces/I2CDevice.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/STM32/I2CDevice.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/mcu_pb.c
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/LTC4015/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/LTC4015/I2CDevice.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/LTC4015/Sensor.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Power/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Power/Simulator.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/STM32/I2CDevice.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  frontend/src/modules/logs/EventType.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/mcu_pb.proto
Labels: domain: firmware, stage: dev, state: approved, type: feature

#370 Implement alarm mute timeout countdown
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation/alarm_mute.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmMuteService.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmMuteService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/selectors.ts
  proto/mcu_pb.proto
Labels: domain: backend, domain: firmware, domain: frontend, stage: dev, state: approved, type: feature

#382 Add github action to check bad includes of Pufferfish/HAL/STM32
  .github/workflows/firmware.yml
Labels: domain: firmware, stage: dev, type: testing

#381 Open modal popup if sidebar is accessed from alarms screen
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
Labels: domain: frontend, stage: dev, state: approved, type: fix

#383 Prevent the rotary encoder from setting min limit above max limit in the frontend
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ValueClicker.tsx
Labels: domain: frontend, stage: dev, state: approved, type: fix

#388 Add backend state segment to report device connection statuses
  backend/ventserver/protocols/backend/backend.py
  backend/ventserver/protocols/backend/server.py
  backend/ventserver/protocols/backend/states.py
  backend/ventserver/protocols/devices/frontend.py
  backend/ventserver/protocols/protobuf/frontend_pb.py
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/logs/EventType.tsx
  frontend/src/store/app/selectors.ts
  frontend/src/store/controller/proto/frontend_pb.ts
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/frontend_pb.proto
  proto/mcu_pb.proto
Labels: domain: backend, domain: frontend, stage: dev, type: fix

#392 Generate firmware log events & alarms for connection/disconnection to backend
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/LogEvents.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/LogEvents.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Power/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/UART.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/UART.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Power/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Backend/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
Labels: domain: firmware, stage: dev, type: feature

#395 Add deployment script to set up the MAX3231 RTC
  deploy/README.md
  deploy/configs/hwclock-set
  deploy/deploy.sh
  deploy/scripts/build_frontend.sh
  deploy/scripts/rtc_setup.sh
  deploy/scripts/yarn.sh
Labels: domain: deployment, stage: dev, type: feature

#398 Reimplement state synchronization in firmware for nestable schedules
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/Alarms.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Transport.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Transport.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/UART.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Application/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Transport/Messages.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Transport/Messages.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/EnumMap.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/EnumMap.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/OrderedMap.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Containers/OrderedMap.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/Alarms.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Test/Inc/Pufferfish/Test/BackendDefs.h
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Application/States.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Application/states.txt
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Transport/Messages.cpp
Labels: domain: firmware, stage: dev, type: fix

#400 Reimplement state synchronization in backend for nestable schedules
  backend/tests/unit/protocols/application/test_states.py
  backend/ventserver/protocols/application/states.py
  backend/ventserver/protocols/backend/states.py
Labels: domain: backend, stage: dev, type: fix

#402 Generate alarms in firmware for sensor disconnection and low battery power
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation/power_management.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/ControlLoop.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/SensorAlarmsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Sensors.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Power/AlarmsService.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ControlLoop.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/SensorAlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Power/AlarmsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  frontend/src/modules/logs/EventType.tsx
  frontend/src/modules/logs/constants.ts
  frontend/src/store/controller/proto/mcu_pb.ts
  proto/mcu_pb.proto
Labels: domain: firmware, domain: frontend, stage: dev, state: approved, type: feature

#391 Improve frontend code comments and refactor modules/app
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/UserActivity.tsx
  frontend/src/modules/app/layouts/LandingPageRoute.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/layouts/SidebarRoute.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/DiscardAlarmLimitsContent.tsx
  frontend/src/modules/controllers/ModalPopup.tsx
  frontend/src/modules/controllers/TabPanel.tsx
  frontend/src/modules/controllers/ValueController.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/controllers/index.ts
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/displays/Carousel.tsx
  frontend/src/modules/displays/ToggleValue.tsx
  frontend/src/modules/displays/ValueDisplay.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/modes/ModesDropdown.tsx
  frontend/src/modules/navigation/Navigation.tsx
  frontend/src/modules/screensaver/ControlJumbotron.tsx
  frontend/src/modules/screensaver/ValueJumbotron.tsx
  frontend/src/modules/settings/SettingsPage.tsx
  frontend/src/modules/settings/containers/DisplayTab.tsx
  frontend/src/modules/utils/useRotaryReference.tsx
Labels: domain: frontend, stage: dev, state: approved, type: chore, type: fix
