Repository pez-globo/pufferfish-software, pull requests merged in 2021-03, with the labels that each got.

#283 Add Rotary encoder support in Clicker & PR comments resolved
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/Service.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/UserActivity.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ModalPopup.tsx
  frontend/src/modules/controllers/RotaryEncodeController.tsx
  frontend/src/modules/controllers/SimpleTable.tsx
  frontend/src/modules/controllers/ValueClicker.tsx
  frontend/src/modules/controllers/ValueController.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/controllers/ValueSlider.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/displays/MultiStepWizard.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/logs/container/EventlogDetails.tsx
  frontend/src/modules/quickstart/QuickStartPage.tsx
  frontend/src/modules/settings/containers/DisplayTab.tsx
  frontend/src/modules/settings/containers/constants.tsx
  frontend/src/modules/utils/useRotaryReference.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/styles/customTheme.ts
  proto/mcu_pb.proto
Labels: domain: frontend, stage: dev, type: fix

#286 firmware: Vector::copy_from: detect when copy is truncated
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/CRCElements.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Chunks.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Datagrams.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Vector.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Vector.tpp
Labels: domain: firmware, stage: dev, type: fix

#281 Implement unit tests for Protocols/CRCElements
  .github/workflows/firmware.yml
  .gitignore
  firmware/ventilator-controller-stm32/CMakeLists.txt
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Frames.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/CRCElements.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/CRCElements.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Vector.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Backend/Frames.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/FDO2/Commands.cpp
  firmware/ventilator-controller-stm32/Core/Test/Inc/Pufferfish/Test/Util.h
  firmware/ventilator-controller-stm32/Core/Test/Inc/Pufferfish/Test/Util.tpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/CRCElements.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/crcelements.txt
  firmware/ventilator-controller-stm32/Docs/ClassDiagram.md
  firmware/ventilator-controller-stm32/clang-tidy-all.sh
  firmware/ventilator-controller-stm32/cmake/CodeCoverage.cmake
Labels: domain: firmware, stage: dev, state: approved, type: fix, type: testing

#291 Improve type code checking in firmware's Messages implementation
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Messages.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Messages.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Enums.h
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/Enums.cpp
Labels: domain: firmware, stage: dev, type: fix

#289 firmware: remove handling of data inputs from StateSynchronizer
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/States.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/States.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/States.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/States.cpp
Labels: domain: firmware, stage: dev, type: fix

#290 firmware: Overwrite chunks input on receiving a delimiter
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Frames.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/FDO2/Device.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Chunks.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Chunks.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Backend/Frames.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/FDO2/Device.cpp
Labels: domain: firmware, stage: dev, state: approved, type: fix

#292 Mark constexpr functions as noexcept
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Simulator.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/I2C/SFM3019/Types.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/FDO2/Commands.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/STM32/Endian.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Array.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Bytes.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Endian.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Protobuf.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Vector.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Vector.tpp
Labels: domain: firmware, stage: dev, type: fix

#299 Restructure to simplify event modification
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/logs/EventType.tsx
  frontend/src/modules/logs/LogsPage.tsx
Labels: domain: frontend, stage: dev, type: fix

#296 Alarms UX Implementation
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/layouts/SidebarRoute.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ModalPopup.tsx
  frontend/src/modules/controllers/RotaryEncodeController.tsx
  frontend/src/modules/controllers/ValueClicker.tsx
  frontend/src/modules/controllers/ValueController.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/dashboard/views/PressureControlMainView.tsx
  frontend/src/modules/displays/ModeBanner.tsx
  frontend/src/modules/displays/MultiStepWizard.tsx
  frontend/src/modules/navigation/Navigation.tsx
Labels: domain: frontend, stage: dev, type: fix

#285 Implement unit test cases for Protocols/Datagrams
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/CRCElements.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Datagrams.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Datagrams.tpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/CRCElements.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Datagrams.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/crcelements.txt
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/datagrams.txt
Labels: domain: firmware, stage: dev, state: approved, type: testing

#295 Implemented Multibuffer in MockI2CDevice
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/HAL/Mock/MockI2CDevice.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/HAL/Mock/MockI2CDevice.cpp
Labels: domain: firmware, stage: dev, state: approved, type: testing

#297 Protocols: Add unit test cases for chunks
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Chunks.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/chunks.txt
Labels: domain: firmware, stage: dev, state: approved, type: testing
