Repository pez-globo/pufferfish-software, pull requests merged in 2021-04, with the labels that each got.

#301 Generate settings & alarm limits change events in backend simulator
  backend/tests/unit/protocols/test_file.py
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation/alarm_limits.py
  backend/ventserver/simulation/alarms.py
  backend/ventserver/simulation/log.py
  backend/ventserver/simulation/parameters.py
  backend/ventserver/simulation/simulators.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Application/mcu_pb.c
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/displays/ModeBanner.tsx
  frontend/src/modules/logs/EventType.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/modes/ModesDropdown.tsx
  frontend/src/modules/modes/ModesPage.tsx
  frontend/src/modules/quickstart/QuickStartPage.tsx
  frontend/src/modules/screensaver/ScreensaverPage.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/selectors.ts
  frontend/src/store/controller/types.ts
  proto/README.md
  proto/mcu_pb.proto
Labels: domain: backend, domain: frontend, stage: dev, type: fix

#300 Refactor COBS interface and add unit test cases
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Frames.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Frames.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/COBS.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/COBS.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Backend/Frames.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/COBS.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/cobs.txt
Labels: domain: firmware, stage: dev, type: testing

#302 Driver/I2C: switch to read_ntoh instead of parse_network_order
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Bytes.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Endian.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Parse.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Parse.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SDP.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3000.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Device.cpp
Labels: domain: firmware, stage: dev, state: approved, type: fix

#304 Frontend UI bugs
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/controllers/ModalPopup.tsx
  frontend/src/modules/controllers/SimpleTable.tsx
  frontend/src/modules/displays/MultiStepWizard.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/modules/logs/container/EventlogDetails.tsx
Labels: domain: frontend, stage: dev, type: fix

#305 Frontend UI fixes
  frontend/src/modules/controllers/SimpleTable.tsx
  frontend/src/modules/logs/EventType.tsx
  frontend/src/modules/logs/LogsPage.tsx
Labels: domain: frontend, stage: dev, type: fix

#298 Protocols: Add unit test cases for messages
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Messages.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/Messages.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/TaggedUnion.h
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Messages.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/messages.txt
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/TaggedUnion.cpp
Labels: domain: firmware, stage: dev, state: approved, type: testing

#317 messages: fix failing test cases
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/Messages.cpp
Labels: domain: firmware, stage: dev, type: fix

#306 add unit test cases for states
  firmware/ventilator-controller-stm32/Core/Test/Inc/Pufferfish/Test/BackendDefs.h
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/States.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Protocols/states.txt
Labels: domain: firmware, stage: dev, state: approved, type: testing

#318 display version number in frontend (#258)
  deploy/scripts/version.sh
  frontend/package.json
Labels: domain: deployment, domain: frontend, stage: dev, state: approved, type: feature

#288 Separate TestCatch2 and TestCoverage build targets
  .github/workflows/firmware.yml
  firmware/ventilator-controller-stm32/CMakeLists.txt
  firmware/ventilator-controller-stm32/README.md
  firmware/ventilator-controller-stm32/cmake.sh
Labels: domain: firmware, stage: dev, state: approved, type: fix, type: testing

#316 deploy: split up deploy.sh (#314)
  deploy/README.md
  deploy/deploy.sh
  deploy/deploy_full.sh
  deploy/install.sh
  deploy/lock.sh
  deploy/scripts/helper.sh
Labels: domain: deployment, stage: dev, state: approved, type: fix

#329 FiO2 & flow alarms
  backend/ventserver/protocols/protobuf/mcu_pb.py
  backend/ventserver/simulation/alarm_limits.py
  backend/ventserver/simulation/alarms.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Application/mcu_pb.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/AlarmLimitsService.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Alarms.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/AlarmLimitsService.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Alarms.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/ParametersService.cpp
  frontend/src/modules/logs/EventType.tsx
  frontend/src/store/controller/proto/mcu_pb.ts
  frontend/src/store/controller/reducers/components.ts
  proto/mcu_pb.proto
Labels: domain: backend, domain: firmware, stage: dev, type: feature

#330 Clean up the HFNC dashboard
  backend/ventserver/simulation/alarm_limits.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Src/main.cpp
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/UserActivity.tsx
  frontend/src/modules/dashboard/containers/LargeValueInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/dashboard/views/HFNCGraphView.tsx
  frontend/src/modules/dashboard/views/HFNCMainView.tsx
  frontend/src/modules/displays/Carousel.tsx
  frontend/src/modules/displays/MultiStepWizard.tsx
  frontend/src/modules/landing-page/LandingPage.tsx
  frontend/src/modules/logs/LogsPage.tsx
  frontend/src/store/controller/reducers.ts
  frontend/src/store/controller/reducers/backend.ts
  frontend/src/store/controller/reducers/components.ts
  frontend/src/store/controller/selectors.ts
Labels: domain: frontend, stage: dev, type: fix

#332 frontend: fix apply changes button behaviour
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/ToolBar.tsx
Labels: domain: frontend, stage: dev, state: approved, type: fix

#336 Add a confirmation dialog to apply changes button in set alarms page
  frontend/src/modules/alarms/AlarmsPage.tsx
  frontend/src/modules/app/layouts/LandingPageRoute.tsx
Labels: domain: frontend, stage: dev, type: feature

#280 Base Documentation configuration
  frontend/.gitignore
  frontend/package.json
  frontend/src/modules/app/index.ts
  frontend/src/modules/app/layouts/LandingPageRoute.tsx
  frontend/src/modules/app/layouts/NoLayoutRoute.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/layouts/SidebarRoute.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/app/layouts/index.ts
  frontend/src/modules/controllers/index.ts
  frontend/src/modules/displays/ToggleValue.tsx
  frontend/src/modules/displays/ValueDisplay.tsx
  frontend/src/modules/displays/index.ts
  frontend/src/modules/index.ts
  frontend/src/modules/info/index.ts
  frontend/tsconfig.json
  frontend/typedoc.json
Labels: domain: frontend, stage: dev, state: approved, type: docs

#303 Improve COBS & add unit test cases for Backend/Frames
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/CRCElements.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/COBS.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/COBS.tpp
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Util/Endian.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SDP.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3000.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/I2C/SFM3019/Device.cpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/Serial/Backend/Frames.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Backend/Frames.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Driver/Serial/Backend/frames.txt
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/COBS.cpp
  firmware/ventilator-controller-stm32/Core/Test/Pufferfish/Util/cobs.txt
Labels: domain: firmware, stage: dev, state: approved, type: testing
