Repository pez-globo/pufferfish-software, pull requests merged in 2021-01, with the labels that each got.

#274 Fix firmware bug and remove RR from HFNC
  backend/ventserver/application.py
  backend/ventserver/integration/_trio.py
  backend/ventserver/simulation/simulators.py
  backend/ventserver/simulator.py
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/Serial/Backend/Backend.h
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Protocols/States.tpp
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
Labels: domain: firmware, stage: dev, type: fix

#271 Dashboard Control/Setvalue Multistep popup
  frontend/src/modules/app/EventAlerts.tsx
  frontend/src/modules/app/OverlayScreen.tsx
  frontend/src/modules/app/Service.tsx
  frontend/src/modules/app/ToolBar.tsx
  frontend/src/modules/app/layouts/LandingPageRoute.tsx
  frontend/src/modules/app/layouts/ScreensaverRoute.tsx
  frontend/src/modules/app/layouts/SidebarRoute.tsx
  frontend/src/modules/app/layouts/SidebarSlideRoute.tsx
  frontend/src/modules/controllers/AlarmModal.tsx
  frontend/src/modules/controllers/ModalPopup.tsx
  frontend/src/modules/controllers/ValueModal.tsx
  frontend/src/modules/dashboard/containers/ControlInfo.tsx
  frontend/src/modules/dashboard/containers/ValueInfo.tsx
  frontend/src/modules/displays/MultiStepWizard.tsx
  frontend/src/modules/navigation/Routes.tsx
  frontend/src/store/app/reducers.ts
  frontend/src/store/app/selectors.ts
  frontend/src/store/app/types.ts
  frontend/src/store/controller/selectors.ts
  frontend/tests/step-definitions/alarm-modal.steps.tsx
Labels: domain: frontend, stage: dev, state: approved, type: feature

#272 Update the active simulator before updating the clock
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
Labels: domain: firmware, stage: dev, type: fix, type: testing

#273 Make selectors which round values return NaN, not 0, for missing values
  firmware/ventilator-controller-stm32/Core/Inc/Pufferfish/Driver/BreathingCircuit/Simulator.h
  firmware/ventilator-controller-stm32/Core/Src/Pufferfish/Driver/BreathingCircuit/Simulator.cpp
  frontend/src/store/controller/selectors.ts
Labels: domain: frontend, stage: dev, type: fix
